adaptive==0.11.1
alabaster==0.7.12
-e git+https://github.com/seb5g/pyAndorNeo.git@db1873e909bf8a44d15d5c1c32fb250acc05185b#egg=AndorNeo
atomicwrites==1.4.0
attrs==20.3.0
Babel==2.8.1
bitstring==3.1.7
bleach==3.2.1
cached-property==1.5.2
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.4
coverage==5.3
cycler==0.10.0
DataProperty==0.50.0
distlib==0.3.1
docutils==0.16
easydict==1.9
flake8==3.8.4
genicam==1.0.0
h5py==3.1.0
harvesters==1.2.8
idna==2.10
imagesize==1.2.0
importlib-metadata==2.0.0
iniconfig==1.1.1
Jinja2==2.11.2
jsonschema==3.2.0
keyring==21.5.0
kiwisolver==1.3.1
MarkupSafe==1.1.1
matplotlib==3.3.3
mbstrdecoder==1.0.0
mccabe==0.6.1
msgfy==0.1.0
numexpr==2.7.1
numpy==1.19.3
opencv-python==4.4.0.46
packaging==20.4
pathvalidate==2.3.0
Pillow==8.0.1
pipdeptree==1.0.0
piphyperd==1.9.8
pkginfo==1.6.1
pluggy==0.13.1
py==1.9.0
pycodestyle==2.6.0
PyDAQmx==1.4.4
pyflakes==2.2.0
Pygments==2.7.2
-e git+https://github.com/CEMES-CNRS/PyMoDAQ.git@1852857835f69ecec975a1c26f0ebcfda95cf501#egg=pymodaq
-e git+https://github.com/CEMES-CNRS/pymodaq_pid_models.git@4871af94883957f06a21b390278b4af63e209599#egg=pymodaq_pid_models
-e git+https://github.com/CEMES-CNRS/pymodaq_plugin_manager.git@bed54fb400af2cca22001c97026419e9b5892382#egg=pymodaq_plugin_manager
-e git+https://github.com/CEMES-CNRS/pymodaq_plugins.git@c7ebafae8bffb00f77ed9324b1465c62387841ba#egg=pymodaq_plugins
-e git+https://github.com/CEMES-CNRS/pymodaq_plugins_andor.git@dc7583c103631fe549c80cb554b5e2d8d0d79958#egg=pymodaq_plugins_andor
-e git+https://github.com/CEMES-CNRS/pymodaq_plugins_daqmx.git@379a5eed6dcd38791a9ac975de5a84017626bcc4#egg=pymodaq_plugins_daqmx
pyparsing==2.4.7
pyqtgraph==0.10.0
pyrsistent==0.17.3
pytablewriter==0.58.0
pytest==6.1.2
pytest-cov==2.10.1
python-dateutil==2.8.1
pytz==2020.4
PyVISA==1.11.3
pywin32-ctypes==0.2.0
readme-renderer==28.0
releases==1.6.3
requests==2.24.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
scipy==1.5.4
semantic-version==2.6.0
simple-pid==0.2.4
six==1.15.0
snowballstemmer==2.0.0
sortedcollections==1.2.1
sortedcontainers==2.3.0
Sphinx==3.3.0
sphinx-csv-filter==0.3.0
sphinx-rtd-theme==0.5.0
sphinx-sitemap==2.2.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-plantuml==0.14
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport==1.2.4
SQLAlchemy==1.3.20
SQLAlchemy-Utils==0.36.6
tabledata==1.1.3
tables==3.6.1
tcolorpy==0.0.8
toml==0.10.2
tqdm==4.51.0
twine==3.2.0
typepy==1.1.1
typing-extensions==3.7.4.3
urllib3==1.25.11
webencodings==0.5.1
wincertstore==0.2
yawrap==0.4.10
zipp==3.4.0
