sphinx
sphinx_rtd_theme
releases
sphinx-csv-filter
pillow
toml
numpydoc
sphinx-datatables
pyside6
sphinx-design
sphinxcontrib-images
sphinx-favicon
sphinx-autodoc-typehints
sphinx-qt-documentation
numpy
pymodaq_plugins_utils
qtmonaco
pyopengl

# -e ../packages/pymodaq_utils
# -e ../packages/pymodaq_data
# -e ../packages/pymodaq_gui
# -e ../packages/pymodaq # uncomment for test purpose
