sphinx
sphinx_rtd_theme>=1.2.2
releases
sphinx-csv-filter
pillow
toml
numpydoc
sphinx-datatables
pyqt5
sphinx==7.3.7
pydata-sphinx-theme==0.15.2
sphinx-design==0.5.0
sphinxcontrib-images==0.9.4
sphinx-favicon==1.0.1
sphinx-autodoc-typehints
sphinx-qt-documentation
sphinxext-rediraffe
numpy
pyopengl

# -e ../packages/pymodaq_utils
# -e ../packages/pymodaq_data
# -e ../packages/pymodaq_gui
# -e ../packages/pymodaq # uncomment for test purpose
