sphinx
sphinx_rtd_theme
releases
sphinx-csv-filter
pillow
toml
numpydoc
sphinx-datatables
pyqt6
sphinx-design
sphinxcontrib-images
sphinx-favicon
sphinx-autodoc-typehints
sphinx-qt-documentation
sphinxext-rediraffe
numpy
pyopengl

# -e ../packages/pymodaq_utils
# -e ../packages/pymodaq_data
# -e ../packages/pymodaq_gui
# -e ../packages/pymodaq # uncomment for test purpose
